# data wrangling
pandas
numpy
matplotlib
scikit-learn

# finetuning deps
transformers[torch]
datasets
sentence-transformers
bitsandbytes
accelerate
peft
trl
sentencepiece
huggingface-hub
transformers

# misc
packaging
ninja
protobuf

# llms
openai-whisper>=20250625
google-genai>=1.51.0
openai>=2.8.1
anthropic>=0.74.0
