pandas
numpy
transformers[torch]
scikit-learn
datasets
sentence-transformers

bitsandbytes
accelerate
peft
trl
cut_cross_entropy
ipywidgets
sentencepiece
protobuf
huggingface_hub
hf_transfer
transformers
packaging
ninja
matplotlib